.button {
  width: 100px;
  color: white;
  background-color: dimgrey;
}

.button-group {
  position: fixed;
  right: 15px;
  
}

.title {
  position: fixed;
  left: 15px;
  top: 5px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  letter-spacing: 4.6px;
  word-spacing: 4px;
  color: #000000;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: small-caps;
}

.identity {
  position: fixed;
  left: 250px;
  top: 9px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing: 4.6px;
  word-spacing: 4px;
  color: #000000;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: small-caps;
}

.nav-menu {
  position: fixed;
  min-width: 100%;
  min-height: 50px;
  background-color: dimgrey;
}

.credit-menu {
  position: fixed;
  min-width: 100%;
  min-height: 25px;
  bottom: 0px;
  background-color: dimgrey;
}

.credit {
  position: fixed;
  right: 15px;
  color: white;
}
