<div mat-dialog-content>
  {{message}}
  <div align="center">
    <p>Nowe hasło</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="password" type="password">
      </label>
    </mat-form-field>
    <p>Potwierdz hasło</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="confirmation" type="password">
      </label>
    </mat-form-field>
    <p>{{comment}}</p>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onChange(password, confirmation)" cdkFocusInitial>Zmień</button>
  <!-- <button mat-button [mat-dialog-close]="password" cdkFocusInitial>Zmień</button> -->

</div>
